.home-container {
    display: flex;
    flex-direction: column;
}

.home-header-container {
    flex: 1;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.home-carousel-container {
    flex: 1;
    margin-top: 100px;
}