.home-container {
    display: flex;
    flex-direction: column;
}

.home-header-container {
    flex: 1;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: black;
}

.home-header-container-color-top {
    opacity: 1;
}

.home-header-container-color-scroll {
    opacity: 0.85;
}

.home-carousel-container {
    flex: 1;
    margin-top: 100px;
}

.home-content {
    flex: 1;
    text-align: center;
    padding-bottom: 8%;
    background-color: white;
}

.home-content > div {
    margin-top: 8%;
}