.header-banner-container {
    width: 100%;
    background-color: black;
    display: flex;
    opacity: 0.85;
}

.header-content-alignment {
    display: flex;
    flex: 1;
    height: 100px;
    align-items: center;
}

.header-logo {
    color: white;
    flex: 33%;
    text-align: center;
}

.header-action-items {
    flex: 20%;
    text-align: center;
}

.header-navbar {
    flex: 0%;
    list-style: none
}

