.header-banner-container {
    width: 100%;
    display: flex;
}

.header-content-alignment {
    display: flex;
    flex: 1;
    height: 100px;
    align-items: center;
}

.header-logo {
    color: white;
    flex: 33%;
    text-align: left;
    margin-left: 25px;
}

.header-action-items {
    flex: 20%;
    text-align: center;
}

.header-navbar {
    flex: 0%;
    list-style: none;
}

.header-action-user {
    flex: 20%;
    text-align: center;
    color: white;
    font-size: x-large;
}