.header-banner-container {
    width: 100%;
    background-color: black;
    display: flex;
    opacity: 0.85;
}

.header-content-alignment {
    display: flex;
    flex: 1;
    height: 100px;
    align-items: center;
}

.header-logo {
    color: white;
    flex: 0.5;
    text-align: center;
}

.header-action-items {
    flex: 0.5;
    text-align: center;
}