.navbar-container .caret {
    display: none;
}

.navbar-container .dropdown-toggle {
    text-decoration: none;
    color: white;
    font-size: 34px;
    padding: 0px 10px 5px 10px;
}

.navbar-container .dropdown-menu {
    border-color: gray;
    background-color: black;
}

.navbar-container .dropdown-menu a {
    color: white;
    font-weight: bold;
}

.navbar-container .dropdown-menu a:hover {
    background-color: gray;
}

.navbar-container .dropdown-toggle:hover {
    background-color: gray;
}