.navbar-container .caret {
    display: none;
}

.navbar-container .dropdown-toggle {
    text-decoration: none;
    color: white;
    font-size: 34px;
}

.navbar-container .dropdown-menu {
    border-color: gray;
    background-color: black;
}

.navbar-container .dropdown-menu a {
    color: white;
}